* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: habibi;
    src: url(./fonts/DancingScript-VariableFont_wght.ttf);
}

@font-face {
   font-family: font-1;
   src: url(./fonts/NoticiaText-Regular.ttf);
}

body {
    background-color: #ffffff;
    scroll-behavior: smooth;
}

a {
   text-decoration: none;
   color: #000;
}
